.about {
    padding-top: 30px;
    &__img {
        margin: 20px auto;
        height: 200px;
        width: 300px;
        background-image: url(../img/logo.png);
        background-size: contain;
        background-repeat: no-repeat;
    }
    &__details {
        margin: 20px auto;
        height: 200px;
        width: 300px;
        font-size: 17px;
        color: black;

        h1 {
            color: blue;
            margin-top: 30px;
        }
        p {
            margin-top: 30px;
        }
    }
}
.chef {
    padding-top: 30px;
    &__img {
        margin: 20px auto;
        height: 300px;
        width: 300px;
        background-image: url(../img/chef.jpg);
        background-size: contain;
        background-repeat: no-repeat;
    }
    &__details {
        margin: 20px auto;
        height: 200px;
        width: 300px;
        font-size: 17px;
        color: black;

        h1 {
            color: blue;
            margin-top: 30px;
        }
        p {
            margin-top: 30px;
        }
    }
}
